<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yönetici Paneli</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/userPanel" class="nav-link px-3 link-primary">Kullanıcı Paneli</a></li>

                <li><a href="/adminPanel" class="nav-link px-3 link-primary">Yönetici Paneli</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <a href="/logout" class="btn btn-info" role="button">Çıkış yap</a>
            </div>
        </header>
    </div>

</head>
<body>
<div class="container">
    <!--  Arastirmaci  -->
    <form method="post" action="/adminPanel/arastirmaci" class="form-horizontal">
        <div class="container">
            <div class="row mt-3">
                <label for="arastirmaciAdi" class="col-md-2">Araştırmacı Adı</label>
                <input id="arastirmaciAdi" class="col-md-3" type="text" th:field="${arastirmaci.arastirmaciAdi}"/>
            </div>
            <div class="row mt-3">
                <label for="arastirmaciSoyadi" class="col-md-2">Araştırmacı Soyadı</label>
                <input id="arastirmaciSoyadi" class="col-md-3" type="text" th:field="${arastirmaci.arastirmaciSoyadi}"/>
                <button type="submit" class="btn btn-primary btn-sm col-md-auto ms-3">Araştırmacı Ekle</button>
            </div>
        </div>
    </form>

    <form method="post" action="/adminPanel/yayin" class="form-horizontal">
        <div class="container mt-5">
            <div class="row mt-3">
                <label for="yayinAdi" class="col-md-2">Yayın Adı</label>
                <input id="yayinAdi" class="col-md-3" type="text" th:field="${yayin.yayinAdi}"/>
            </div>
            <div class="row mt-3">
                <label for="yayinYili" class="col-md-2">Yayın Yılı</label>
                <input id="yayinYili" class="col-md-3" type="text" th:field="${yayin.yayinYili}"/>
                <button type="submit" class="btn btn-primary btn-sm col-md-auto ms-3">Yayın Ekle</button>
            </div>
        </div>
    </form>

    <form method="post" action="/adminPanel/tur" class="form-horizontal">
        <div class="container mt-5">
            <div class="row mt-3">
                <label for="yayinTuru" class="col-md-2">Yayın Türü</label>
                <input id="yayinTuru" class="col-md-3" type="text" th:field="${tur.yayinTuru}"/>
            </div>
            <div class="row mt-3">
                <label for="yayinYeri" class="col-md-2">Yayın Yeri</label>
                <input id="yayinYeri" class="col-md-3" type="text" th:field="${tur.yayinYeri}"/>
                <button type="submit" class="btn btn-primary btn-sm col-md-auto ms-3">Tür Ekle</button>
            </div>
        </div>
    </form>

    <!--Arastirmaci Ortak Calisma İliskisi-->
    <form method="post" action="/adminPanel/arastirmaciColleague" class="form-horizontal">
        <div class="container mt-5">
            <div class="row mt-3">
                <div class="col-lg-4">
                    <select class="form-control" id="arastirmaciSelect" name="arastirmaciSelect"
                            th:field="${arastirmaci.arastirmaciAdi}" required>
                        <option value="" selected>Araştırmacı Seçiniz</option>
                        <option th:each="arastirmaci : ${arastirmacilar}"
                                th:value="${arastirmaci.arastirmaciAdi}"
                                th:text="${arastirmaci.arastirmaciAdi}+' '+${arastirmaci.arastirmaciSoyadi}"
                        ></option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <select class="form-control" id="arastirmaciSelect2" name="arastirmaciSelect2"
                            th:field="${arastirmaci.arastirmaciAdi}" required>
                        <option value="" selected>Araştırmacı Seçiniz</option>
                        <option th:each="arastirmaci : ${arastirmacilar}"
                                th:value="${arastirmaci.arastirmaciAdi}"
                                th:text="${arastirmaci.arastirmaciAdi}+' '+${arastirmaci.arastirmaciSoyadi}"
                        ></option>
                    </select>
                </div>
                <button id="arastirmaciColleagueButton" type="submit" class="col-md-auto btn btn-secondary btn-sm ms-2">Ortak
                    Çalışma İlişkisi Ekle
                </button>

            </div>

        </div>
    </form>

    <!--Arastirmaci Yayin İliskisi-->
    <form method="post" action="/adminPanel/arastirmaciYayinRelationship" class="form-horizontal">
        <div class="container mt-5">
            <div class="row mt-4">
                <div class="col-lg-4" th:field="${arastirmacilar}">
                    <select class="form-control" id="arastirmaciSelect3" name="arastirmaciSelect3"
                            th:field="${arastirmaci.arastirmaciAdi}" required>
                        <option value="" selected>Araştırmacı Seçiniz</option>
                        <option th:each="arastirmaci : ${arastirmacilar}"
                                th:value="${arastirmaci.arastirmaciAdi}"
                                th:text="${arastirmaci.arastirmaciAdi}+' '+${arastirmaci.arastirmaciSoyadi}"
                        ></option>
                    </select>
                </div>
                <div class="col-lg-4" th:field="${yayinlar}">
                    <select class="form-control" id="yayinSelect" name="yayinSelect" th:field="${yayin.yayinAdi}"
                            required>
                        <option value="" selected>Yayın Seçiniz</option>
                        <option th:each="yayin : ${yayinlar}"
                                th:value="${yayin.yayinAdi}"
                                th:text="${yayin.yayinAdi}"
                        ></option>
                    </select>
                </div>
                <button id="arastirmaciYayinButton" type="submit" class="col-md-auto btn btn-secondary btn-sm ms-2">Yayın Yazarı
                    İlişkisi Ekle
                </button>

            </div>

        </div>
    </form>

    <!--Yayin Tur İliskisi-->
    <form method="post" action="/adminPanel/yayinTurRelationship" class="form-horizontal">
        <div class="container my-5">
            <div class="row mt-4">
                <div class="col-lg-4" th:field="${yayinlar}">
                    <select class="form-control" id="yayinSelect2" name="yayinSelect" th:field="${yayin.yayinAdi}" required>
                        <option value="" selected>Yayın Seçiniz</option>
                        <option th:each="yayin : ${yayinlar}"
                                th:value="${yayin.yayinAdi}"
                                th:text="${yayin.yayinAdi}"
                        ></option>
                    </select>
                </div>
                <div class="col-lg-4" th:field="${turler}">
                    <select class="form-control" id="arastirmaciSelect4" name="arastirmaciSelect3"
                            th:field="${tur.yayinYeri}" required>
                        <option value="" selected>Yayın Yeri Seçiniz</option>
                        <option th:each="tur : ${turler}"
                                th:value="${tur.yayinYeri}"
                                th:text="${tur.yayinYeri}"
                        ></option>
                    </select>
                </div>
                <button id="yayinTurButton" type="submit" class="col-md-auto btn btn-secondary btn-sm ms-2">Yayın Yeri
                    İlişkisi Ekle
                </button>

            </div>

        </div>
    </form>

</div>

</body>
</html>