<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>YAYIN</title>
</head>
<body>
<div class="container float-start">
    <form method="post" action="" class="form-horizontal">
        <label for="yayinAdi" class="col-form-label">Yayın Adı</label>
        <div class="col mt-2">
            <input id="yayinAdi" type="text" th:field="${yayin.yayinAdi}"/>
        </div>
        <label for="yayinYili" class="col-form-label mt-2">Yayın Yılı</label>
        <div class="col mt-2">
            <input id="yayinYili" type="text" th:field="${yayin.yayinYili}"/>
        </div>

        <button type="submit" class="btn btn-primary btn-sm mt-3">Yayın Ekle</button>
    </form>

    <div th:each="yayin : ${yayinlar}">
        <span th:text="|${yayin.yayinID} -> ${yayin.yayinAdi} -> ${yayin.yayinYili}"></span>
    </div>

</div>

</body>
</html>